mixin time(t)
  if t
    time=t.format('YYYY.MM.DD HH:mm:ss')

mixin video(vid)
  figure.item.item-video(data-key=vid.key)
    //figcaption.item-title
      if vid.detailUrl
        a(href=vid.detailUrl, target='_blank')=vid.title
      else
        span= vid.title
    a.load-video(href='#', title='click to load video')
      img(src=vid.small.url, alt=vid.title, width=vid.small.width, height=vid.small.height)
    //
      if vid.embedHtml
        != vid.embedHtml
      else
        iframe(src=vid.embedUrl, width=vid.embedWidth, height=vid.embedHeight, frameborder=0, webkitAllowFullScreen, mozallowfullscreen, allowfullscreen)
    mixin time(vid.posted)

mixin commit(com)
  div.item.item-commit(data-key=com.key)
    div.item-content=com.title
    a(href=com.detailUrl,target='_blank') browse code
    mixin time(com.posted)

mixin image(img)
  figure.item.item-image(data-key=img.key)
    //figcaption.item-title
      a(href=img.detailUrl, target='_blank')=img.title
    a(href=img.full.url, class='image-grid-link', rel='images', title=img.title)
      img(src=img.small.url, alt=img.title, width=img.small.width, height=img.small.height)
    mixin time(img.posted)

mixin blogEntry(ent)
  article.item.item-entry(data-key=ent.key)
    h3.item-title
      if ent.detailUrl
        a(href=ent.detailUrl, target='_blank')=ent.title
      else
        span= ent.title
    div.item-content
      != ent.contentHtml
    mixin time(ent.posted)

mixin item(i)
  if i.entityType == 'video'
    mixin video(i)
  else if i.entityType == 'commit'
    mixin commit(i)
  else if i.entityType == 'image'
    mixin image(i)
  else if i.entityType == 'blogEntry'
    mixin blogEntry(i)

mixin projectSubNav(projectKey, pages, currentPage, navItems)
  nav#sub-nav
    ul
      li(class=currentPage?'':'current')
        a(href='/projects/'+projectKey) summary
      if navItems
        each item in navItems
          li
            if item.external
              a(href=item.url, target='_blank')= item.text
            else
              a(href=item.url)= item.text
      each pg in pages
        li(class=currentPage==pg.key?'current':'')
          a(href='/projects/'+projectKey+'/pages/'+pg.key)= pg.title