nav
  ul
    li(class=currentContext=='/about'?'current':'')
      a(href='/about') about
    li(class=currentContext=='/'?'current':'')
      a(href='/') news
    li(class=currentContext&&currentContext.indexOf('/projects')==0?'current':'')
      a(href='/projects') projects
      if projects
        ul
          each p in projects
            li(class=currentContext=='/projects/'+p.key?'current':'')
              a(href='/projects/'+p.key)=p.title
    li
      a(href='https://www.facebook.com/tetksys', target='_blank') facebook
    li
      a(href='https://vimeo.com/tekt', target='_blank') vimeo
    li
      a(href='https://www.flickr.com/photos/t3kt/', target='_blank') flickr
    li
      a(href='https://github.com/t3kt', target='_blank') github
